body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.left_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 12%;
}

.logo {
    justify-content: center;
}

.right_header {
    gap: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 13%;
}

.header_button {
    border: none;
    background: #222222;
    color: #ffffff;
    justify-content: center;
    margin-left: 15%;
}

.button_dop {
    margin-left: 50%;
}

.top {
    width: 100%;
    height: 764px;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.foto_board {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 13%;
}

.foto_board_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foto {
    width: auto;
    position: relative;
    display: inline-block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto_board_2 {
    text-align: center;
    margin-top: 5%;
}

.white_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #ffffff;
}

.pink_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #f16d7f;
}

.fetured_items {
    margin-top: 10%;
    text-align: center;
}

.text1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #222222;
}

.text2 {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #9F9F9F;
}

.cards {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 13%;
}

.line_card {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F8F8F8;
}

.card_text1 {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.card_text2 {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    color: #5D5D5D;
}

.card_text3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #F16D7F;
}