body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black_line {
    width: 100%;
    height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.header {
    width: 75%;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.left_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right_header {
    gap: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_button {
    border: none;
    background: #222222;
    color: #ffffff;
    margin-left: 15%;
}

.button_dop {
    margin-left: 50%;
}

.top {
    width: 100%;
    height: 764px;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_content {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo_board {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3%;
}

.photo {
    width: 31.6%;
    position: relative;
    display: inline-block;
    margin-top: 2%;
}

.wide_photo {
    width: 75%;
}

.photo img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #211616B2;
    pointer-events: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #ffffff;
}

.pink_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #f16d7f;
}

.fetured_items {
    margin-top: 10%;
    text-align: center;
}

.text1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #222222;
}

.text2 {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #9F9F9F;
}

.cards {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F8F8F8;
    margin-top: 3%;
}

.card_text {
    gap: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.card_text1 {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.card_text2 {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #5D5D5D;
}

.card_text3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F16D7F;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 95%;
    }
    .photo_board {
        width: 95%;
    }
    .wide_photo {
        width: 95%;
    }
    .cards {
        width: 95%;
    }
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .hide-on-small {
        display: none;
    }
    .header {
        width: 95%;
    }
    .photo_board {
        width: 95%;
    }
    .photo {
        width: 100%;
    }
    .wide_photo {
        clip-path: polygon(2.5% 0, 97.5% 0, 97.5% 100%, 2.5% 100%);
    }
    .cards {
        width: 95%;
    }
    .card {
        width: 100%;
    }
}