.body_class {
    height: 100%;
    font-family: Inter;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    gap: 460px;
    justify-content: space-around;
    display: flex;
    margin-bottom: 4%;
}

.logo {
    padding-right: 0.88px;
    gap: 14.79px;
}

.menu {
    width: 46%;
    gap: 14px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.link_home {
    width: 13%;
    color: #F25822;
    justify-content: center;
    font-weight: 600;
}

.link_menu {
    width: 13%;
    color: black;
    justify-content: center;
    font-weight: 400;
}

.top_content {
    margin-left: 3%;
    margin-right: 7%;
    justify-content: space-between;
    display: flex
}

.top_info {
    width: 34%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: flex;
}

.info_1_top {
    color: black;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    word-wrap: break-word;
}

.info_2_top {
    color: #888888;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word
}

.top_button {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}

.button_start {
    width: 29%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #F25822;
    border-radius: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}

.button_watch {
    width: 29%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #AAAAAA;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}

.bottom {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-around;
    align-items: flex-end;
    gap: 48px;
    display: flex;
    margin-top: 4%;
}